# Build Folders
bin/
obj/
net6.0/

# User-specific files
*.user
*.vs
.vscode/

# Logs
*.log

# Packages
*.nupkg
*.snupkg

# Visual Studio specific
.vs/

# Rider specific
.idea/

# Resharper specific
*.DotSettings.user

# Other
*.db
